<h3>Login</h3>
<form method='post' action='/login' >
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type='text' name='email_address' autocomplete="off">
	<input type='password' name='password' autocomplete="off">
	<input type='submit' value='Login'>
</form>
<a href="/users/new">Register</a>
	<a href="/">Back</a>

<%= flash[:error] %>