<h2>Profile Page</h2>
<h3> Hello <%= @user.first_name %> </h3>
<h4> Welcome to the <strong>Ruby Wall</strong>.</h4>
<h4>Your Email Address: <%= @user.email_address %></h4>
<h4>Your Last Name:<%= @user.last_name %></h4>
<a href="/"><button>Go to the Wall</button></a>